<template name="login">
<!--
    <div class="back-link">
        <a href="{{pathFor route='dashboard'}}" class="btn btn-primary">Back to Dashboard</a>
    </div>
-->
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>PLEASE LOGIN TO APP</h3>
                    <small>This is the best app ever!</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <!--
                        <div class="col-md-12">
                            <div class="btn-group btn-block" id="google-login">
                                <a class='btn btn-danger disabled' style='height:34px;width:12%'><i class="fa fa-google-plus" style="width:16px; height:20px"></i></a>
                                <a class='btn btn-danger' href='' style="width:88%;"> Sign in with Google</a>
                            </div>
                            <br /><br />
                            <div class="btn-group btn-block" id="facebook-login">
                                <a class='btn btn-primary disabled' style='height:34px;width:12%'><i class="fa fa-facebook" style="width:16px; height:20px"></i></a>
                                <a class='btn btn-primary ' href='' style="width:88%;"> Sign in with Facebook</a>
                            </div>	
                            <br /><br />
                        </div>
                        
                        <div class="custom-separator">OR</div>
                        !-->
                             <label class="control-label" for="form"></label>
                             <label class="control-label" for="form"><span class="error" id="form-error"></span></label>  
                             
                        <form role="form" id="loginForm" method="post" action="#"> 
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>
                                <input type="text" placeholder="username" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">
                                <span class="help-block small">Your unique username to app</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                                <span class="help-block small">Your strong password (8 characters at least)</span>
                            </div>
                                    
                            <div class="form-group">
                                <a href="{{pathFor route='forgotpassword'}}" >Forgot you password ?</a>
                            </div>
                            
                            <button class="btn btn-info btn-block" type="submit">Login</button>
                            <a class="btn btn-default btn-block" href="{{pathFor route='register'}}">Register</a>
                        </form>
                        
                    </div>
                     <!--{{> loginButtons}}-->
                </div>
                
            </div>
        </div>
    </div>
</template>