<template name="gsm1">
    {{> pageHeader title="GSM1 wizard" desc="" category="Forms" }}

    <div class="content">

        <div class="row">
            <div class="col-lg-12">
                {{#panel title="Family doctor services registration"}}
                    <form name="gsm1Form" novalidate id="gsm1Form" action="#" method="post">

                        <div class="text-center m-b-md" id="wizardControl">

                            <a class="tabs btn btn-primary" href="#step1" data-toggle="tab">Patient’s details</a>
                            <a class="tabs btn btn-default" href="#step2" data-toggle="tab">Other patient data</a>
                            <a class="tabs btn btn-default" href="#step3" data-toggle="tab">Organ donation</a>

                        </div>

                        <div class="tab-content">
                            <div id="step1" class="p-m tab-pane active">

                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="form-group col-lg-12">
                                            <p><b>Select your title</b></p>
                                            <div class="radio radio-info">
                                                <input type="radio" name="title" id="mr" value="MR">
                                                <label for="mr" class="radio-inline">
                                                    Mr
                                                </label>
                                            </div>
                                            <div class="radio radio-info">
                                                <input type="radio" name="title" id="mrs" value="MRS">
                                                <label for="mrs" class="radio-inline">
                                                    Mrs
                                                </label>
                                            </div>
                                            <div class="radio radio-info">
                                                <input type="radio" name="title" id="miss" value="MISS">
                                                <label for="miss" class="radio-inline">
                                                    Miss
                                                </label>
                                            </div>
                                            <div class="radio radio-info">
                                                <input type="radio" name="title" id="ms" value="MS">
                                                <label for="ms" class="radio-inline">
                                                    Ms
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-lg-12">
                                            <label for="surname">Surname</label>
                                            <input type="text" value="" id="surname" class="form-control" name="surname">
                                        </div>
                                        
                                        <div class="form-group col-lg-12">
                                            <label for="firstName">First names</label>
                                            <input type="text" value="" id="firstName" class="form-control" name="firstName">
                                        </div>
                                        
                                        <div class="form-group col-lg-12">
                                            <label for="prevSurname">Previous surname/s</label>
                                            <input type="text" value="" id="prevSurname" class="form-control" name="prevSurname">
                                        </div>
                                        
                                        <div class="form-group col-lg-12">
                                            <label for="dob">Date of birth</label>
                                            <input type="text" value="" id="dob" class="form-control" name="dob">
                                        </div>
                                        
                                        <div class="form-group col-lg-12">
                                            <label for="nhs">NHS no.</label>
                                            <input type="text" value="" id="nhs" class="form-control" name="nhs">
                                        </div>
                                        
                                        <p><b>Sex</b></p>
                                        <div class="radio radio-info">
                                            <input type="radio" name="title" id="male" value="male">
                                            <label for="male">
                                                Male
                                            </label>
                                        </div>
                                        
                                        <div class="radio radio-danger">
                                            <input type="radio" name="title" id="female" value="female">
                                            <label for="female">
                                                Female
                                            </label>
                                        </div>
                                        
                                        <div class="form-group col-lg-12">
                                            <label for="townAndCountry">Town and country of birth</label>
                                            <input type="text" value="" id="townAndCountry" class="form-control" name="townAndCountry">
                                        </div>
                                        
                                        <div class="form-group col-lg-12">
                                            <label for="homeAddress">Home address</label>
                                            <input type="text" value="" id="homeAddress" class="form-control" name="homeAddress">
                                        </div>
                                        
                                        <div class="form-group col-lg-12">
                                            <label for="postCode">Post code</label>
                                            <input type="text" value="" id="postCode" class="form-control" name="postCode">
                                        </div>
                                        
                                        <div class="form-group col-lg-12">
                                            <label for="telNumber">Telephone number</label>
                                            <input type="text" value="" id="telNumber" class="form-control" name="telNumber">
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right m-t-xs">
                                    <a class="tabs btn btn-default" href="#step2" data-toggle="tab">Next</a>
                                </div>

                            </div>

                            <div id="step2" class="p-m tab-pane">

                                <div class="row">
                                    
                                    <div class="col-lg-9">
                                        <div class="form-group col-lg-12">
                                            <label for="previousAddress">Your previous address in UK</label>
                                            <input type="text" value="" id="previousAddress" class="form-control" name="previousAddress">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="previousDoctor">Name of previous doctor while at that address</label>
                                            <input type="text" value="" id="previousDoctor" class="form-control" name="previousDoctor">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="previousDocAddress">Address of previous doctor</label>
                                            <input type="text" value="" id="previousDocAddress" class="form-control" name="previousDocAddress">
                                        </div>
                                        <div class="divider"></div>
                                        <h4 class="custom-h3">If you are from abroad</h4>
                                        <div class="form-group col-lg-12">
                                            <label for="firstUKAddress">Your first UK address where registered with a GP</label>
                                            <input type="text" value="" id="firstUKAddress" class="form-control" name="firstUKAddress">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="leavingDate">If previously resident in UK, date of leaving</label>
                                            <input type="text" value="" id="leavingDate" class="form-control" name="leavingDate">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="comingDate">Date you first came to live in UK</label>
                                            <input type="text" value="" id="comingDate" class="form-control" name="comingDate">
                                        </div>
                                        <div class="divider"></div>
                                        <h4 class="custom-h3">If you are returning from the Armed Forces</h4>
                                        <div class="form-group col-lg-12">
                                            <label for="enlistingAddress">Address before enlisting</label>
                                            <input type="text" value="" id="enlistingAddress" class="form-control" name="enlistingAddress">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="personnelNumber">Service or personnel number</label>
                                            <input type="text" value="" id="personnelNumber" class="form-control" name="personnelNumber">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="enlistmentDate">Enlistment date</label>
                                            <input type="text" value="" id="enlistmentDate" class="form-control" name="enlistmentDate">
                                        </div>
                                        <div class="divider"></div>
                                        <h4 class="custom-h3">If you are registering child under 5</h4>                                        
                                        <div class="checkbox checkbox-single checkbox-info">
                                            <input type="checkbox" name="under5" id="under5" value="">
                                            <label for="under5" class="checkbox-inline">
                                                I wish the child above to be registered with the doctor named overleaf for Child Health Surveillance
                                            </label>
                                        </div>                                        
                                        <div class="divider"></div>
                                        <h4 class="custom-h3">If you need your doctor to dispense medicines and appliances*</h4>                                        
                                        <div class="radio radio-info">
                                            <input type="radio" name="dispense" id="moreThanMile" value="">
                                            <label for="moreThanMile" class="radio-inline">
                                                I live more than 1 mile in a straight line from the nearest chemist
                                            </label>
                                        </div>
                                        <div class="radio radio-info">
                                            <input type="radio" name="dispense" id="difficulty" value="">
                                            <label for="difficulty" class="radio-inline">
                                                I would have serious difficulty in getting them from a chemist
                                            </label>
                                        </div>                                        
                                        <p class="small">*Not all doctors are authorised to dispense medicines</p>                                                                                
                                        <div class="divider"></div>
                                        <h4 class="custom-h3">Signature</h4>                                        
                                        <div class="radio radio-info">
                                            <input type="radio" name="siganture" id="sigPatient" value="">
                                            <label for="sigPatient" class="radio-inline">
                                                Signature of Patient
                                            </label>
                                        </div>
                                        <div class="radio radio-info">
                                            <input type="radio" name="siganture" id="sigOnBehalfPatient" value="">
                                            <label for="sigOnBehalfPatient" class="radio-inline">
                                                Signature on behalf of Patient
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right m-t-xs">
                                    <a class="btn btn-default prev" href="#">Previous</a>
                                    <a class="btn btn-default next" href="#">Next</a>
                                </div>

                            </div>
                            <div id="step3" class="p-m tab-pane">

                                
                                <div class="text-right m-t-xs">
                                    <a class="btn btn-default prev" href="#">Previous</a>
                                    <a class="btn btn-default next" href="#">Next</a>
                                </div>

                            </div>
                            <div id="step4" class="tab-pane">
                                <div class="row text-center m-t-lg m-b-lg">
                                    <div class="col-lg-12">
                                        <i class="pe-7s-check fa-5x text-muted"></i>

                                        <p class="small m-t-md">
                                            <strong>There are many</strong> variations of passages of Lorem Ipsum
                                            available, but the majority have suffered
                                        </p>
                                    </div>
                                    <div class="checkbox col-lg-12">
                                        <input type="checkbox" class="i-checks approveCheck" name="approve">
                                        Approve this form
                                    </div>
                                </div>
                                <div class="text-right m-t-xs">
                                    <a class="btn btn-default prev" href="#">Previous</a>
                                    <a class="btn btn-default next" href="#">Next</a>
                                    <a class="btn btn-success submitWizard" href="#">Submit</a>
                                </div>
                            </div>
                        </div>
                    </form>
                {{/panel}}
            </div>
        </div>
    </div>
</template>