    <template name="calendar">
    {{> pageHeader title="Calendar" desc="" category="App views" }}

    {{#staggering}}
    <div class="content">
        {{#if isPatient}}
        <div class="row">
            <div class="col-lg-12">
                {{#panel title="Appointments" built=true color="hblue"}}
                <div class="table-responsive ">
                    <table id="appointmentsTable" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Health issue</th>
                            <th>Comment</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each appointments}}
                                {{> appointmentRow}}
                            {{/each}}
                        </tbody>
                    </table>

                </div>
                {{/panel}}
            </div>
        </div>
        {{/if}}
        <div class="row">
            {{> fullcalendar calOptions}}
        </div>
    </div>
    {{/staggering}}
</template>
