<template name="clockpicker-record">

    <div class="input-group clockpicker col-sm-6 " data-autoclose="true" id="duration">
        <input type="text" class="form-control" value="00:00">
        <span class="input-group-addon colpick">
                <span class="fa fa-clock-o"></span>
        </span>
    </div>
</template>
