<template name="records">


    {{> pageHeader title="Records" desc="Manage your records" }} {{#staggering}}

    <div class="content">
        <div class="row">
            <div class="col-lg-6">
                {{#panel title=""}}

                <h4 class="control-label custom-h3">History</h4>
                <div class="divider"></div>
                                
                    
                    <div class="col-lg-12">            
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addRecordModal">
                            Add a record
                        </button>
                        {{#panel title=""}}
                            <div>
                                <canvas id="sharpLineOptions" height="140"></canvas>
                            </div>
                        {{/panel}}
                    </div>

                    <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="panel-body">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Add a record</h4>
                                    </div>
                                    <form role="form" id="addrecord" method="post" action="#">
                                        <div class="form-group">
                                            <!-- <label class=" control-label" for="name">Date & Time</label>-->
                                            <h4 class="control-label custom-h3" for="datetimepicker1">Date & Time</h4>
                                            <div class="divider"></div>
                                            <div class="input-group date col-sm-6" id="datetimepicker1" name="datetimepicker1" required="" value=""  >
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                                <input type="text" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!--<label class="col-sm-1 control-label" for="name">Duration</label>-->
                                            <h4 class="control-label custom-h3">Duration</h4>
                                            <div class="divider"></div>
                                            {{> clockpicker}}
                                        </div>
                                        <div class="form-group ">
                                            <!--<label class="col-sm-1 control-label" for="name">Distance</label>-->
                                            <h4 class="control-label custom-h3">Distance</h4>
                                            <div class="divider"></div>
                                            <div class="input-group bootstrap-touchspin col-sm-6"><span class="input-group-btn"></span>
                                                <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                                <input id="distance" type="text" name="distance" value="50" class="form-control" style="display: block;">
                                                <span class="input-group-btn">
                                            </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!--<label class="col-sm-1 control-label" for="name">Heart rate</label>-->
                                            <h4 class="control-label custom-h3">Heart rate</h4>
                                            <div class="divider"></div>
                                            <div class="input-group bootstrap-touchspin col-sm-6"><span class="input-group-btn"></span>
                                                <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                                <input id="heartreate" type="text" name="heartreate" value="50" class="form-control" style="display: block;">
                                                <span class="input-group-btn">
                                            </span>
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <!--<label class="col-sm-1 control-label" for="name">Calories</label>-->
                                            <h4 class="control-label custom-h3">Calories</h4>
                                            <div class="divider"></div>
                                            <div class="input-group bootstrap-touchspin col-sm-6"><span class="input-group-btn"></span>
                                                <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                                <input id="calories" type="text" name="calories" value="50" class="form-control" style="display: block;">
                                                <span class="input-group-btn">
                                            </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <!--<label class="col-sm-1 control-label">Notes</label>-->
                                            <h4 class="control-label custom-h3">Notes</h4>
                                            <div class="divider"></div>
                                            <textarea id="notes" class="form-control" name="notes" rows="4" cols="50">
                                            </textarea>
                                        </div>

                                        
                                        <div class="modal-footer text-col-sm-4">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                            
                                            <!--<button type="button" class="btn btn-primary" id="saveRecord">Save changes</button>-->
                                            <input type="submit" class="btn btn-primary" value="Save changes" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                
                {{/panel}}
            </div>
            
            
            <div class="col-lg-6">
                {{#panel title=""}}

                <h4 class="control-label custom-h3">Charts</h4>
                <div class="divider"></div>
                    
                    <div class="col-lg-12">   
                        <br/><br/> 
                {{#panel title=""}}
                    <div>
                        <canvas id="radarChart"></canvas>
                    </div>
                {{/panel}}
                    </div>

                {{/panel}}
            </div>
                                    
                                            
        </div>
    </div>
    {{/staggering}}
</template>