<template name="dashboardPatient">
    
            <div class="row">
                <div class="col-lg-4">
                    
                    {{#panel title="" panelClass="stats" footer=""}}

                        <div class="table-responsive">
                            
                        <div class="stats-title pull-left">
                            <h4>Messages</h4>
                        </div>
                        
                        <!--
                        <div class="pull-right fa-4x">
                            <i class="fa fa-wheelchair"></i>
                        </div>-->
                            <table id="messages" cellpadding="1" cellspacing="1" class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Message</th>
                                    <th>Date</th>
                                    <th>View</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    {{/panel}}
                </div>
                
                <div class="col-lg-4">
                    
                    {{#panel title="" panelClass="stats" footer=""}}

                        <div class="table-responsive">
                            
                        <div class="stats-title pull-left">
                            <h4>Prescriptions</h4>
                        </div>
                        
                        <!--
                        <div class="pull-right fa-4x">
                            <i class="fa fa-wheelchair"></i>
                        </div>-->
                            <table id="prescriptions" cellpadding="1" cellspacing="1" class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Drug</th>
                                    <th>SIG</th>
                                    <th>Doctor</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    {{/panel}}
                </div>
                
                <div class="col-lg-4">
                    
                    {{#panel title="" panelClass="stats" footer=""}}

                        <div class="table-responsive">
                            
                        <div class="stats-title pull-left">
                            <h4>Next appointments</h4>
                        </div>
                        
                        <!--
                        <div class="pull-right fa-4x">
                            <i class="fa fa-wheelchair"></i>
                        </div>-->
                            <table id="appointments" cellpadding="1" cellspacing="1" class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Doctor/Room</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Procedure</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    {{/panel}}
                </div>
                
                <div class="col-lg-4">
                    
                    {{#panel title="" panelClass="stats" footer=""}}

                        <div class="table-responsive">
                            
                        <div class="stats-title pull-left">
                            <h4>Laboratories</h4>
                        </div>
                        
                        <!--
                        <div class="pull-right fa-4x">
                            <i class="fa fa-wheelchair"></i>
                        </div>-->
                            <table id="laboratories" cellpadding="1" cellspacing="1" class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Doctor</th>
                                    <th>Lab</th>
                                    <th>View</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    {{/panel}}
                </div>
                
                <div class="col-lg-4">
                    
                    {{#panel title="" panelClass="stats" footer=""}}

                        <div class="table-responsive">
                            
                        <div class="stats-title pull-left">
                            <h4>Documents</h4>
                        </div>
                        
                        <!--
                        <div class="pull-right fa-4x">
                            <i class="fa fa-wheelchair"></i>
                        </div>-->
                            <table id="othersdocuments" cellpadding="1" cellspacing="1" class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Visit</th>
                                    <th>View</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    {{/panel}}
                </div>
            </div>
</template>