<template name="doctor">
    {{> pageHeader title="My Doctor's data" category="App views" }}

    {{#staggering}}

        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    {{#if doctor}}
                        <div class="hpanel">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab-1">Contact information</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <h4>Date of registration:</h4>
                                                    <span class="text-info">{{dor}}</span>
                                                </p>
                                                <div class="divider"></div>
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="docFName">First Name</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{doctor.persodata.fname}}" class="form-control" type="text" name="docFName" id="docFName" disabled>
                                                        </div>
                                                        <label class="col-sm-2 control-label" for="docLName">Last Name</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{doctor.persodata.lname}}" class="form-control" type="text" name="docLName" id="docLName" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="docAddress">Address</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{doctor.persodata.address1}}" class="form-control" type="text" name="docAddress" id="docAddress" disabled>
                                                        </div>
                                                        <label class="col-sm-2 control-label" for="docPhone">Phone Number</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{doctor.persodata.mobileNumber}}" class="form-control" type="text" name="docPhone" id="docPhone" disabled>
                                                        </div>
                                                    </div>
                                                    <p class="text-center">
                                                        <b>Working hours</b>
                                                    </p>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="sunday">Sunday</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{workHours 'sunday'}}" class="form-control" type="text" name="sunday" id="sunday" disabled>
                                                        </div>
                                                        <label class="col-sm-2 control-label" for="monday">Monday</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{workHours 'monday'}}" class="form-control" type="text" name="monday" id="monday" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="tuesday">Tuesday</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{workHours 'tuesday'}}" class="form-control" type="text" name="tuesday" id="tuesday" disabled>
                                                        </div>
                                                        <label class="col-sm-2 control-label" for="wednesday">Wednesday</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{workHours 'wednesday'}}" class="form-control" type="text" name="wednesday" id="wednesday" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="thursday">Thursday</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{workHours 'thursday'}}" class="form-control" type="text" name="thursday" id="thursday" disabled>
                                                        </div>
                                                        <label class="col-sm-2 control-label" for="friday">Friday</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{workHours 'friday'}}" class="form-control" type="text" name="friday" id="friday" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="saturday">Saturday</label>
                                                        <div class="col-sm-4">
                                                            <input value="{{workHours 'saturday'}}" class="form-control" type="text" name="saturday" id="saturday" disabled>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="divider"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Warning!</strong>
                            You must choose your doctor first!
                        </div>
                    {{/if}}
                    {{#panel title="" built=true color="hblue"}}
                        <h3>You can use filters below to search for doctors</h3>
                        <div class="row">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="doctorName">by Name</label>
                                    <input type="text" class="form-control" id="doctorName" placeholder="Jane Doe">
                                </div>
                                <div class="form-group">
                                    <label for="doctorAddress">by Address</label>
                                    <input type="text" class="form-control" id="doctorAddress">
                                </div>
                            </form>
                        </div>
                        <div class="divider"></div>
                        <div id="results" class="row table-responsive">
                            <table id="doctorsTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>First name</th>
                                    <th>Last Name</th>
                                    <th>Address</th>
                                    <th>Speciality</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {{#each doctors}}
                                        {{> doctorRow}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    {{/panel}}
                </div>
            </div>
        </div>
    {{/staggering}}
</template>
