<template name="patients">


    {{> pageHeader title="Patients" desc="" category="Medical" }}

    {{#staggering}}

    <div class="content">

    <div class="row">

        <div class="col-lg-12">

            {{#panel title="" built=true color="hblue"}}
            <button class="btn btn-primary" style="margin-bottom: 10px" type="button" name="newPatient" id="newPatient">Add new patient</button>
            {{#if showForm}}
            {{> personalInformation}}
            {{/if}}
            <div class="table-responsive ">
                <table  id="patientstb" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th colspan="2">Name</th>
                        <th>NHS Number</th>
                        <th>Gender</th>
                        <th>D.O.B.</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each patients}} {{> patientSummary}} {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="editPatient" tabindex="-1" role="dialog" aria-labelledby="Edit patient data">
                {{#with currPatient}}
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="color-line"></div>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Edit patient data</h4>
                        </div>
                        <div class="modal-body">
                            <form id="editPatientForm">
                                <div class="form-group">
                                    <h4 class="control-label custom-h3" for="firstName">First name</h4>
                                    <div class="divider"></div>
                                    <input class="form-control" type="text" name="firstName" id="firstName" value="{{persodata.fname}}">
                                </div>
                                <div class="form-group">
                                    <h4 class="control-label custom-h3" for="lastName">Last name</h4>
                                    <div class="divider"></div>
                                    <input class="form-control" type="text" name="lastName" id="lastName" value="{{persodata.lname}}">
                                </div>
                                <div class="form-group">
                                    <h4 class="control-label custom-h3" for="nhsNumber">NHS number</h4>
                                    <div class="divider"></div>
                                    <input class="form-control" type="text" name="nhsNumber" id="nhsNumber" value="{{persodata.nhsNumber}}">
                                </div>
                                <div class="form-group">
                                    <h4 class="control-label custom-h3" for="birthday">D.O.B.</h4>
                                    <div class="divider"></div>
                                    <input class="form-control" type="text" name="birthday" id="birthday" value="{{persodata.dob}}">
                                </div>
                                <div class="form-group">
                                    <h4 class="control-label custom-h3" for="address">Address</h4>
                                    <div class="divider"></div>
                                    <input class="form-control" type="text" name="address" id="address" value="{{persodata.address}}">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button id="editPatientBtn" type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {{/with}}
            </div>
            {{/panel}}

    </div>
        </div>
    </div>
    {{/staggering}}
</template>
