<template name="patientSummary">
    <tr>
        <td><input type="checkbox" class="i-checks" checked data-pk="1"  data-id={{_id}} ></td>
        <td>{{persodata.fname}} {{persodata.lname}}</td>
        <td>{{persodata.nhsNumber}}</td>
        <td>{{persodata.gender}}</td>
        <td>{{formatedDob}}</td>
        <td>{{persodata.address1}}</td>
        <td>
            <button class="btn btn-info edit-patient" type="button" data-id={{_id}}><i class="fa fa-paste"></i> Edit</button>
            <button class="btn btn-danger remove-patient" type="button" data-id={{_id}}><i class="fa fa-trash-o"></i> <span class="bold">Delete</span></button>
        </td>
    </tr>
</template>
