<template name="bill">
    {{> pageHeader title="Bills expenses" desc="" category="App views" }}
    {{#staggering}}
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    {{#panel title="Track your bills"}}
                        <div>
                            <canvas id="billsOptions" height="140"></canvas>
                        </div>
                    {{/panel}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="billsTable" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Doctor Name</th>
                                        <th>Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {{#each bills}}
                                            {{> billRow}}
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/staggering}}
</template>