<template name="emailCompose">
    {{> pageHeader title="Compose email" desc="Mailbox - Email compose." category="App views" }}

    {{#staggering}}

        <div class="content">

            <div class="row">
                <div class="col-md-2">
                    {{> leftMailPanel}}
                </div>
                <div class="col-md-10">
                    <div class="hpanel email-compose">
                        <div class="panel-heading hbuilt">
                            <div class="p-xs h4">

                                {{mailTitle}}

                            </div>
                        </div>
                        <div class="panel-heading hbuilt">
                            <div class="p-xs">

                                <form method="get" class="form-horizontal">
                                    <div class="form-group"><label class="col-sm-1 control-label text-left">To:</label>

                                        <div class="col-sm-11">
                                            
                                             <input class="form-control typeahead"
                                   name="userTo"
                                   id="userTo"
                                   type="text"
                                            placeholder="example@email.com"
                                   autocomplete="off" spellcheck="off"
                                   data-source="users">
                                   
                                        </div>
                                    </div><!--
                                    <div class="form-group"><label class="col-sm-1 control-label text-left">Cc:</label>

                                        <div class="col-sm-11"><input type="text" class="form-control input-sm"></div>
                                    </div>-->
                                    <div class="form-group"><label class="col-sm-1 control-label text-left">Subject:</label>

                                        <div class="col-sm-11"><input type="text" class="form-control input-sm" id="subject" placeholder="Enter Email subject" value="{{subject}}"></div>
                                    </div>
                                </form>


                            </div>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="summernote" id="message">
                                
                            </div>
                        </div>


                        <div class="panel-footer">
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button class="btn btn-default"><i class="fa fa-edit"></i> Save</button>
                                    <button class="btn btn-default"><i class="fa fa-trash"></i> Discard</button>
                                </div>
                            </div>
                            <button class="btn btn-primary" id="sendMail">Send email</button>
                            <div class="btn-group">
                                <button class="btn btn-default"><i class="fa fa-paperclip"></i> </button>
                                <button class="btn btn-default"><i class="fa fa-image"></i> </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    {{/staggering}}
</template>