<template name="emailView">

    {{> pageHeader title="Mailbox" desc="Mailbox - Email view." category="App views" }}

    {{#staggering}}

        <div class="content">

            <div class="row">
                <div class="col-md-2">
                    {{> leftMailPanel}}
                </div>
                <div class="col-md-10">
                    <div class="hpanel email-compose">
                        <div class="border-top border-left border-right bg-light">
                            <div class="p-m">

                                <small class="pull-right">
                                    {{mailsince}}
                                </small>
                                <div>
                                    <span class="font-extra-bold">Subject: </span>
                                    {{subject}}
                                </div>
                                <div>
                                    <span class="font-extra-bold">From: </span>
                                    <a href="#">{{from}}</a>
                                </div>
                                <div>
                                    <span class="font-extra-bold">Date: </span>
                                    {{maildate}}
                                </div>
                                
                            </div>
                            
                         <!--   <div class="p-xs h4">
                            </div>-->
                        </div>
                        <div class="panel-body">
                            <div id="mailmessage">
                                   {{{mailmessage}}}
                            </div>
                        </div>

                        <div class="border-bottom border-left border-right bg-white p-m">
                            <!--
                            <p class="m-b-md">
                                <span><i class="fa fa-paperclip"></i> 3 attachments - </span>
                                <a href="#" class="btn btn-default btn-xs">Download all in zip format <i class="fa fa-file-zip-o"></i> </a>
                            </p>

                            <div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="hpanel">
                                            <div class="panel-body file-body">
                                                <i class="fa fa-file-pdf-o text-info"></i>
                                            </div>
                                            <div class="panel-footer">
                                                <a href="#">Document_2016.doc</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="hpanel">
                                            <div class="panel-body file-body">
                                                <i class="fa fa-file-audio-o text-warning"></i>
                                            </div>
                                            <div class="panel-footer">
                                                <a href="#">Audio_2016.doc</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="hpanel">
                                            <div class="panel-body file-body">
                                                <i class="fa fa-file-excel-o text-success"></i>
                                            </div>
                                            <div class="panel-footer">
                                                <a href="#">Sheets_2016.doc</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>

                        <div class="panel-footer text-right">
                            <div class="btn-group">
                                <button class="btn btn-default" id="reply"><i class="fa fa-reply"></i> Reply</button>
                                <!--<button class="btn btn-default"><i class="fa fa-arrow-right"></i> Forward</button>-->
                                <button class="btn btn-default" id="print"><i class="fa fa-print"></i> Print</button>
                                <button class="btn btn-default" id="remove"><i class="fa fa-trash-o"></i> Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {{/staggering}}

</template>