<template name="leftMailPanel">
    <div class="hpanel">
        <div class="panel-body">
        <a class="btn btn-success btn-block m-b-md" href="{{pathFor route='emailCompose'}}">Compose</a>
            <ul class="mailbox-list">
                <li class="{{inboxClass}}">
                    <a href="{{pathFor route='mailbox'}}">
                        <span class="pull-right">{{nbInbox}}</span>
                        <i class="fa fa-envelope"></i> Inbox
                    </a>
                </li>
                <li class="{{sentClass}}">
                    <a href="{{pathFor route='mailsent'}}">
                        <span class="pull-right">{{nbSent}}</span>
                        <i class="fa fa-paper-plane"></i> Sent {{parent}}
                    </a>
                </li>
                <!--   <li>
                    <a href="#"><i class="fa fa-pencil"></i> Draft</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-trash"></i> Trash</a>
                </li>-->
            </ul>
            <hr>
            <ul class="mailbox-list">
                <li>
                    <a href="#"><i class="fa fa-heartbeat text-danger"></i> Medical</a>
                </li><!--
                <li>
                    <a href="#"><i class="fa fa-bar-chart text-warning"></i> Bills</a>
                </li>
                    <li>
                    <a href="#"><i class="fa fa-users text-info"></i> Social</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-tag text-success"></i> Promos</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-flag text-primary"></i> Updates</a>
                </li>-->
            </ul>
            <hr>
            <ul class="mailbox-list">
                <li>
                    <a href="#"><i class="fa fa-gears"></i> Settings</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-info-circle"></i> Support</a>
                </li>
            </ul>


        </div>

    </div>
</template>