<template name="mail">
    <tr class="unread" data-id={{_id}}>
        <td class="{{status}}">
            <div class="checkbox checkbox-single checkbox-success">
                <input type="checkbox">
                <label></label>
            </div>
        </td>
        <td><a href="#">{{from}}</a></td>
        <td><a href="#">{{subject}}</a></td>
        <td><i class="fa fa-paperclip"></i></td>
        <td class="text-right mail-date">{{formatdate}}</td>
    </tr>
</template>