<template name="services">
    <!-- services -->
    <div id="services" class="services">
        <div class="container">
            <div class="header services-header text-center">
                <h2>Our services</h2>
                <p>
                    Patients may be comforted knowing that they have access to a physician of any specialty, anytime of the day. Access to the CareLK, Solution will be available to Members 24 hours a day, 7 days a week.
                </p>
                <p>
                    Our telemedicine visio consultation will diagnose and make recommendations for the most appropriate action regarding your medical concern. This action may include prescription of medication as necessary, ordering lab work, or a recommendation that the member contact a specialist or member’s primary medical care provider. In the occurrence where immediate medical attention is required, the physician shall direct the Member to the nearest emergency facility.
                </p>
            </div>
            <!-- service-grids-->
            <div class="service-grids">
                <div class="col-md-3">
                    <div class="service-grid text-center">
                        <a href="#"><span class="s1-icon"> </span></a>
                        <h3><a href="#">Heart problem</a></h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service-grid text-center">
                        <a href="#"><span class="s2-icon"> </span></a>
                        <h3><a href="#">brain problem</a></h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service-grid text-center">
                        <a href="#"><span class="s3-icon"> </span></a>
                        <h3><a href="#">knee problem</a></h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service-grid text-center">
                        <a href="#"><span class="s4-icon"> </span></a>
                        <h3><a href="#">human bones problem</a></h3>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!--//service-grids-->
        </div>

    </div>
    <!-- services -->
</template>
