<template name="about">
<!-- about -->
<div id="about" class="about">
    <div class="container">
        <div class="header about-header text-center">
            <h2>About us</h2>
            <p>
                Carelk is a comprehensive telehealth Software that combines our Online Medical Suite with clinical patient data and diagnostic medical workflow that enables patients and doctors to perform consultations similar to face to face consultations. Through our secure HIPAA-compliant platform, patients can access their providers anytime, anywhere, from anyplace. Carelk enables remote consultations in a seamless and secure environment between patients and physicians and allows for the sharing and collaboration of clinical data between all parties involved. This revolutionary technology enables doctors to see patients in their clinical settings virtually as well as at home via a variety remote health monitoring devices.
            </p>
        </div>
        <!-- About-grids -->
        <div class="about-grids">
            <div class="col-md-4">
                <div class="about-grid">
                    <img src="images/templates/doctorweb/img1.jpg" title="name" />
                    <span class="t-icon1"> </span>
                    <div class="about-grid-info text-center">
                        <h3><a href="#">Children's specialist</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-grid n-about-grid n-about-grid1">
                    <img src="images/templates/doctorweb/img2.jpg" title="name" />
                    <span class="t-icon1"> </span>
                    <div class="about-grid-info text-center">
                        <h3><a href="#">Women's specialist</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-grid n-about-grid n-about-grid2">
                    <img src="images/templates/doctorweb/img3.jpg" title="name" />
                    <span class="t-icon2"> </span>
                    <div class="about-grid-info text-center">
                        <h3><a href="#">men's specialist</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- About-grids -->
    </div>

</div>
<!-- about -->
</template>
