<template name="workoutItem">
    <tr>
        <td><a href="#" id="name" data-type="text" data-pk="1"  data-id={{id}}   data-value={{name}}
                                                       data-title="Enter name" class="one editable editable-click"></a></td>
        <td><a href="#" id="category" data-type="select" data-pk="1" data-value={{category}} data-id={{id}}
                                           data-title="Select category" class="two editable editable-click" style="color: gray;" name="category"></a></td>
        <td class="three"><button class="btn btn-danger delete" type="button" id="delete" data-id={{id}}><i class="fa fa-trash-o"></i> <span class="bold">Delete</span></button></td>
    </tr>
</template>