<template name="learnMore">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Learn more about us</h1>
                <p class="lead">
                    CareLK is a comprehensive telehealth application allowing healthcare providers to access to their patients anytime of the day from anywhere with 24/7 access to an Online Exam Room that can be customized for their institution. Providers and their patients can access the exam room from their personal computer or through our mobile applications.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Patient Features</h2>
                <ul>
                    <li>Individual and Family Accounts</li>
                    <li>Patient Profile</li>
                    <li>Summary of medical record and office visits</li>
                    <li>Appointment scheduling with a provider</li>
                    <li>Secure messaging between providers and patients</li>
                    <li>Mobile Applications</li>
                    <li>Integrate with EHR Patient Portal</li>
                    <li>Virtual Waiting Room</li>
                    <li>Patient education</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Physician Features</h2>
                <ul>
                    <li>Physician Dashboard</li>
                    <li>Scheduling</li>
                    <li>Payment/Copay Processing</li>
                    <li>ePrescribing</li>
                    <li>Share medical records in real-time</li>
                    <li>Multiple providers at one time for group consultations</li>
                    <li>video consultation</li>
                </ul>
            </div>
        </div>
    </div>
</template>
